*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header{
    height: 500px;
    width: 100%;
    background-color: #FACB80;
    position: relative;
}

.top img{
    height: 70%;
    width: 50%;
    position: absolute;
    right: 20px;
    top: 40px;
}
h1{
    color: white;
    position: absolute;
    top: 120px;
    left: 30px;
    font-size: 2.5rem;
}
span{
    font-size: 3rem;
    color: rgb(3, 0, 1);
}

#demo-cards{
    width: 100%;
}
.card-img{
    height: 150px;
    padding: 1% 10%;
    
}

.img2{
    height: 150px;
    padding: 1% 10%;
}

.card{
    padding: 0 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-gap: 10px;
    margin: 5% 0;
    

}
.card-1{
    transition: all 1s ease;
    margin-bottom: 30px;
}
.card-1:hover{
    transform: translate(0,10px);
    box-shadow: 5px 10px 10px grey ;
    
}
.card-body{
    padding: 1% 2%;
}

#grid{
    background-color: rgb(182, 204, 204);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    place-items: center;
    padding: 1% 3%;
    
}
.grid-1 img{
    height: 300px;
    width: 100%;
    margin: 5% 0;
    transition: all 1s ease;
}
.grid-1 img:hover{
    transform: translate(-10px,-20px);
    box-shadow: 5px 10px 10px rgb(252, 70, 64) ;
}